.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  width: fit-content;
  height: 32px;
}
.ant-input-outlined {
  border: none !important;
  box-shadow: none !important;
  height: 32px;
}
