$primary: #8cb369;
$sec: #f4e285;
$third: #f4a259;
$four: #5b8e7d;
$five: #bc4b51;
$white: white;
$gray: #c5d7b5;
$green1: #52c41a;
$green2: rgb(246, 255, 237);
$red1: #c5161d;
$red2: #ffe5e6;

.sectionDashboard {
  .name {
    display: block;
    font-size: 20px;
    color: $primary;
    font-weight: 700;
  }
  .datetime {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
  }
  .noti {
    .notiForm {
      border: 2px solid $four;
      background-color: $white;
      border-radius: 12px;
      padding: 12px;
    }
    .mainText {
      font-size: 16px;
      color: $primary;
      margin-bottom: 6px;
    }
    .subText {
      font-size: 14px;
    }
  }
  .todo {
    background-color: $green2;
    padding: 10px;
    align-items: center;
    .mainText {
      font-size: 20px;
    }
    .todoItem {
      border: 1px solid $primary;
      background-color: $white;
      text-align: center;
      border-radius: 12px;
      padding: 10px;
      .boxImg {
        width: 30px;
        height: 30px;
        margin: 4px auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .m1 {
    margin: 1rem 0;
  }
  .formItem {
    border-radius: 20px;
    background-color: $white;
    padding: 12px;
    height: 110px;
    .mainText {
      font-size: 18px;
    }
    .moreItem {
      margin-top: 0.5rem;
    }
    .title {
      color: $primary;
      font-size: 14px;
      display: block;
    }
    .money {
      font-size: 20px;
      display: block;
      line-height: 30px !important;
    }
    .smallmoney {
      font-size: 18px;
      display: block;
      margin-left: 8px;
    }
    .moneyBig {
      margin-top: 1.5rem;
      font-size: 30px;
      display: block;
      line-height: 30px !important;
    }
  }

  .update {
    background-color: $white;
    padding: 12px;
    border-radius: 12px;
    height: 100%;
  }

  .table {
    background-color: $white;
    padding: 10px;
    border-radius: 12px;
  }
  .lastCommit {
    padding: 10px;
    background-color: $white;
    border-radius: 12px;
  }
  .commitItem {
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 14px 0 hsla(0, 0%, 82%, 0.25);
    align-items: center;
    .tag {
      position: absolute;
      top: 35px;
      left: 10px;
      border-radius: 3px;
      padding: 1px 5px;
      justify-content: center;
      align-items: center;
      color: #c5161d;
      font-size: 9px;
      font-weight: 600;
    }
    .boxImg {
      position: relative;
      height: 63px;
      width: 70px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name {
      color: #000;
    }
    .price {
      color: $primary;
      font-size: 18px;
      margin-right: 10px;
    }
    .oldprice {
      color: $gray;
      font-size: 18px;
      text-decoration: line-through !important;
    }

    .moreInfo {
      background-color: $gray;
      padding: 10px;
      border-radius: 12px;
    }
  }
}

.textProduct {
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.headerText {
  font-size: 18px;
  color: $primary;
  font-weight: 600;
  display: block;
  margin-left: 5px;
}
.boxIcon {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
    height: 100%;
  }
}

.greentag {
  color: $green1;
  background-color: $green2;
  padding: 4px 10px;
  border-radius: 99px;
}

.redtag {
  color: $red1;
  background-color: $red2;
  padding: 4px 10px;
  border-radius: 99px;
}

.boxNodata {
  width: 150px;
  height: 150px;
  margin: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.full {
  margin-top: 12px;
}
.textFooter {
  display: block;
  margin: 10px;
  font-size: 16px !important;
}
.itemFooter {
  .infoFooter {
    font-size: 14px !important;
    line-height: 21px !important;
    color: #3d3d3d !important;
    margin-top: 6px;
    display: block;
  }
}
.logoFooter {
  margin: 20px auto;
  width: 40%;
  img {
    width: 100%;
    height: 100%;
  }
}
.default {
  background-color: transparent;
  box-shadow: unset;
  width: 100%;
  justify-content: space-between;
  padding: 10px 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  height: 100px !important;
  min-height: 100px !important;
  z-index: 10 !important;
  position: fixed;
  top: 0;
}
.header {
  width: 100%;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(215, 215, 215, 0.25) 0px 4px 4px;
  padding: 10px 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  height: 100px !important;
  min-height: 100px !important;
  z-index: 10 !important;
  position: fixed;
  top: 0;
}
.textHeader {
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: block;
}
.btnHeader {
  border-radius: 40px;
  width: 108px;
  height: 40px;
  font-size: 16px;
  margin-left: 10px;
}
.subMenu {
  padding: 40px 0 60px 0;
}
.logoHeader {
  width: 30%;
}
.footer {
  padding: 20px;
  background: $primary;
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.copyRight {
  padding-right: 10px;
  border-right: 1px solid $third;
  padding-left: 10px;
  &:nth-last-child(1) {
    border-right: none;
  }
}

.drawerHeader {
  text-align: center;
  position: relative;
  height: 100%;
  .textHeader {
    padding: 20px;
    font-size: 15px;
  }
  .drawerFooter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btnHeader {
    margin-bottom: 20px;
    margin-left: 0px;
    display: block;
    bottom: 0;
  }
}

@media screen and (max-width: 1023px) {
  .full {
    .formItem {
      height: auto;
    }
  }
  .commitItem {
    .tag {
      width: 100%;
    }
  }
}
